In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Selected transposed dataframe for each technology from R script (see the following for the code):

AJmedelian300x <- cast(DTAJ300xcastall,chrom+start+end+id+SVtype ~ sample,value="Ill300x.GT")

AJmedelian250x <- cast(DTAJ250bpcastall,chrom+start+end+id+SVtype ~ sample,value="Ill250.GT")

AJmedelianMP <- cast(DTAJMPcastall,chrom+start+end+id+SVtype ~ sample,value="IllMP.GT")

AJmedelianPacBio <- cast(DTAJpacbiocastall,chrom+start+end+id+SVtype ~ sample,value="pacbio.GT")

AJmedelian10x <- cast(DT10Xcastall,chrom+start+end+id+SVtype ~ sample,value="TenX.GT")

In [2]:
train = pd.read_csv('MPMendelian.csv')
df = pd.DataFrame(train)
df.head()

   chrom  start    end  id     SVtype  HG002  HG003  HG004
0      1  10403  10441   1   Deletion   -1.0     -1     -1
1      1  10415  10441   2   Deletion   -1.0     -1     -1
2      1  10616  10638   3   Deletion   -1.0     -1     -1
3      1  10616  10638   4   Deletion   -1.0     -1     -1
4      1  54720  54721   5  Insertion   -1.0     -1     -1

Remove all of the rows that contain: -1

In [10]:
df2 = df[(df['HG002'] != -1) & (df['HG003'] != -1) & (df['HG004'] != -1)]

In [11]:
df2.head()

     chrom    start      end   id     SVtype  HG002  HG003  HG004
162      1  1034429  1044497  164   Deletion    0.0      0      0
188      1  1180674  1183435  190  Insertion    0.0      0      0
208      1  1285401  1286800  210   Deletion    2.0      2      2
248      1  1570571  1633791  250   Deletion    0.0      0      0
287      1  1860890  1866242  290  Insertion    0.0      0      0

Rows were selected where the genotypes matched the following:

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/MendelianTest/genotype/Slide1.png "Genotype")

In [12]:
mask = (((df2['HG002'] == 0) & (df2['HG003'] == 0) & (df2['HG004'] == 0)) | 
		(((df2['HG002'] == 1) | (df2['HG002'] == 0)) & (df2['HG003'] == 1) & (df2['HG004'] == 0)) |
	    ((df2['HG002'] == 1) & (df2['HG003'] == 2) & (df2['HG004'] == 0)) |
	    (((df2['HG002'] == 1) | (df2['HG002'] == 0)) & (df2['HG003'] == 0) & (df2['HG004'] == 1)) |
	    (((df2['HG002'] == 1) | (df2['HG002'] == 0) | (df2['HG002'] == 2)) & (df2['HG003'] == 1) & (df2['HG004'] == 1)) |
	    (((df2['HG002'] == 1) | (df2['HG002'] == 2)) & (df2['HG003'] == 1) & (df2['HG004'] == 2)) |
	    ((df2['HG002'] == 1) & (df2['HG003'] == 0) & (df2['HG004'] == 2)) |
	    (((df2['HG002'] == 1) | (df2['HG002'] == 2)) & (df2['HG003'] == 2) & (df2['HG004'] == 1)) |
	    ((df2['HG002'] == 2) & (df2['HG003'] == 2) & (df2['HG004'] == 2)))

In [13]:
df3 = df2[mask]
df3['technology'] = 'MP'
df3.head()

     chrom    start      end   id     SVtype  HG002  HG003  HG004 technology
162      1  1034429  1044497  164   Deletion    0.0      0      0         MP
188      1  1180674  1183435  190  Insertion    0.0      0      0         MP
208      1  1285401  1286800  210   Deletion    2.0      2      2         MP
248      1  1570571  1633791  250   Deletion    0.0      0      0         MP
287      1  1860890  1866242  290  Insertion    0.0      0      0         MP

The code listed above was applied to each technology independently. The following code was used to merge the final dataframes.

In [14]:
train1 = pd.read_csv('10xMend.csv')
df = pd.DataFrame(train1)
train2 = pd.read_csv('300xMend.csv')
df2 = pd.DataFrame(train2)
train3 = pd.read_csv('250xMend.csv')
df3 = pd.DataFrame(train3)
train4 = pd.read_csv('MPMend.csv')
df4 = pd.DataFrame(train4)
train5 = pd.read_csv('PacBioMend.csv')
df5 = pd.DataFrame(train5)
new_df = pd.concat([df, df2, df3, df4, df5], axis=0)
new_df.head()

,Unnamed: 0,chrom,start,end,id,SVtype,HG002,HG003,HG004,technology
0,70,1,884108,884110,75,Insertion,0.0,0.0,0.0,10x
1,71,1,884108,884110,76,Insertion,0.0,0.0,0.0,10x
2,227,1,1478966,1479211,232,Deletion,0.0,0.0,0.0,10x
3,245,1,1570570,1633791,250,Deletion,0.0,0.0,0.0,10x
4,246,1,1583006,1646240,251,Deletion,0.0,0.0,0.0,10x

The following lists the starts sites of the regions where there were multiple cass within a 100 basepair region:

821633

884079

919991

957969

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/MendelianTest/Screen%20Shot%202017-01-03%20at%2012.44.17%20PM.png "Genotype")