In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/High_Conf_predprob_1_09_SVan_LOO.csv')

In [3]:
df['GTcons_LOO_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_LOO_ML'].replace('1', 'Heterozygous_Variant', inplace=True)
df['GTcons_LOO_ML'].replace('2', 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [4]:
consensus_GT = df['GTcons']
predict = df['GTcons_LOO_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,12,0,0,12
Homozygous_Reference,0,7,0,7
Homozygous_Variant,0,0,19,19
All,12,7,19,38

<a id='conf_mat_LOO_0.9'></a>

In [5]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/High_Conf_predprob_1_08_SVan_LOO.csv')

In [6]:
df['GTcons_LOO_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_LOO_ML'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons_LOO_ML'].replace(2, 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [7]:
consensus_GT = df['GTcons']
predict = df['GTcons_LOO_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,77,0,0,77
Homozygous_Reference,0,38,0,38
Homozygous_Variant,0,0,107,107
All,77,38,107,222

<a id='conf_mat_LOO_0.8'></a>

In [8]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/label_supp_LOO.csv')

In [9]:
df['GTcons_LOO_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_LOO_ML'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons_LOO_ML'].replace(2, 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [10]:
consensus_GT = df['GTcons']
predict = df['GTcons_LOO_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,843,0,0,843
Homozygous_Reference,0,276,0,276
Homozygous_Variant,0,0,322,322
All,843,276,322,1441

<a id='conf_mat_LOO_supp'></a>

In [11]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/High_Conf_predprob_1_09_SVan_GTcons.csv')

In [12]:
df['GTcons_GTcons_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_GTcons_ML'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons_GTcons_ML'].replace(2, 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [13]:
consensus_GT = df['GTcons']
predict = df['GTcons_GTcons_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,19,0,0,19
Homozygous_Reference,0,13,0,13
Homozygous_Variant,0,0,33,33
All,19,13,33,65

<a id='conf_mat_GTcons_0.9'></a>

In [14]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/High_Conf_predprob_1_08_SVan_GTcons.csv')

In [15]:
df['GTcons_GTcons_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_GTcons_ML'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons_GTcons_ML'].replace(2, 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [16]:
consensus_GT = df['GTcons']
predict = df['GTcons_GTcons_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,96,0,0,96
Homozygous_Reference,0,50,0,50
Homozygous_Variant,0,0,126,126
All,96,50,126,272

<a id='conf_mat_GTcons_0.8'></a>

In [17]:
df = pd.read_csv('/Volumes/lesleydata/SVanalyzer_ML/Oct122017_Revised_R/summary_plots/data/final_dfs/label_supp_GTcons.csv')

In [18]:
df['GTcons_GTcons_ML'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons_GTcons_ML'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons_GTcons_ML'].replace(2, 'Homozygous_Variant', inplace=True)
df['GTcons'].replace('0', 'Homozygous_Reference', inplace=True)
df['GTcons'].replace(1, 'Heterozygous_Variant', inplace=True)
df['GTcons'].replace(2, 'Homozygous_Variant', inplace=True)

In [19]:
consensus_GT = df['GTcons']
predict = df['GTcons_GTcons_ML']
pd.crosstab(consensus_GT, predict, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted,Heterozygous_Variant,Homozygous_Reference,Homozygous_Variant,All
True,,,,
Heterozygous_Variant,898,0,0,898
Homozygous_Reference,0,279,0,279
Homozygous_Variant,0,0,332,332
All,898,279,332,1509

<a id='conf_mat_GTcons_supp'></a>