In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Review: a count of Mendelian consistent and inconsistent sites

![alt text](https://raw.githubusercontent.com/lesleymaraina/NIST/master/Images/MendelianTest/Slide1%20copy.png "Genotype")

Import data from all technologies

In [14]:
trainMP = pd.read_csv('MPMend.csv')
dfMP = pd.DataFrame(trainMP)
train10x = pd.read_csv('10xMend.csv')
df10x = pd.DataFrame(train10x)
train300x = pd.read_csv('300xMend.csv')
df300x = pd.DataFrame(train300x)
train250x = pd.read_csv('250xMend.csv')
df250x = pd.DataFrame(train250x)
trainPacBio = pd.read_csv('PacBioMend.csv')
dfPacBio = pd.DataFrame(trainPacBio)

***PacBio***

In [15]:
dfPacBio2 = dfPacBio[['HG002','HG003','HG004']]
resultPacBio = dfPacBio2.apply(pd.value_counts).fillna(0)

dfPacBio3 = dfPacBio2[(dfPacBio2['HG002'] == 0) & (dfPacBio2['HG003'] == 0) & (dfPacBio2['HG004'] == 0)]
resultPacBio2 = dfPacBio3.apply(pd.value_counts).fillna(0)

In [7]:
resultPacBio

     HG002  HG003  HG004
0.0     51     66     74
1.0     76     58     67
2.0     87     90     73

A count of sites where all 3 members of the trio have a '0' genotype.

In [31]:
resultPacBio2

     HG002  HG003  HG004
0.0     46     46     46

***250x***

In [8]:
df250x2 = df250x[['HG002','HG003','HG004']]
result250x = df250x2.apply(pd.value_counts).fillna(0)

df250x3 = df250x2[(df250x2['HG002'] == 0) & (df250x2['HG003'] == 0) & (df250x2['HG004'] == 0)]
result250x2 = df250x3.apply(pd.value_counts).fillna(0)

In [9]:
result250x

     HG002  HG003  HG004
0.0     84    102    108
1.0    104     80     80
2.0     43     49     43

A count of sites where all 3 members of the trio have a '0' genotype.

In [10]:
result250x2

     HG002  HG003  HG004
0.0     79     79     79

***300x***

In [23]:
df300x2 = df300x[['HG002','HG003','HG004']]
result300x = df300x2.apply(pd.value_counts).fillna(0)

df300x3 = df300x2[(df300x2['HG002'] == 0) & (df300x2['HG003'] == 0) & (df300x2['HG004'] == 0)]
result300x2 = df300x3.apply(pd.value_counts).fillna(0)

In [24]:
result300x

     HG002  HG003  HG004
0.0    164    170    177
1.0     88     77     79
2.0      9     14      5

A count of sites where all 3 members of the trio have a '0' genotype.

In [25]:
result300x2

     HG002  HG003  HG004
0.0    160    160    160

***MatePair***

In [11]:
dfMP2 = dfMP[['HG002','HG003','HG004']]
resultMP = dfMP2.apply(pd.value_counts).fillna(0)

dfMP3 = dfMP2[(dfMP2['HG002'] == 0) & (dfMP2['HG003'] == 0) & (dfMP2['HG004'] == 0)]
resultMP2 = dfMP3.apply(pd.value_counts).fillna(0)

In [12]:
resultMP

   HG002  HG003  HG004
0     16     16     19
2      8      8      8
1      8      8      5

A count of sites where all 3 members of the trio have a '0' genotype.

In [18]:
resultMP2

   HG002  HG003  HG004
0     16     16     16

***10X***

In [13]:
df10x2 = df10x[['HG002','HG003','HG004']]
result10x = df10x2.apply(pd.value_counts).fillna(0)

df10x3 = df10x2[(df10x2['HG002'] == 0) & (df10x2['HG003'] == 0) & (df10x2['HG004'] == 0)]
result10x2 = df10x3.apply(pd.value_counts).fillna(0)

In [20]:
result10x

     HG002  HG003  HG004
0.0     22     22     22

A count of sites where all 3 members of the trio have a '0' genotype.

In [22]:
result10x

     HG002  HG003  HG004
0.0     22     22     22